# autoTriage
# A collector for the LCDI to ensure that everyone can easily collect data quickly from client machines!

# What this configuration file does:
# - Provides an easy way to set options
# - Allows the examiner to run the tool the exact same way over and over again
# - Enables the developer to provide documentation about what each option does
# - Creates user-friendly way to select options

# Things to know:
# - Do not change the variable names in the config file, instead only change the value (after the `=` sign)
# - Any item starting with `#` is a comment. Feel free to add to the documentation!

##
# Basic case information:
##

# Case Number
case_number = FI-20150416-01

# Evidence Number
evidence_number = 01-HD-01

# Examiner Name
examiner_name = cbryce

##
# User  Data Collection
##

# This allows the collection of user data

# Enable user collection?
# - This must be enabled for anything in this section to be included
# - Disabling will prevent any of the below options from occuring
enable_user_collection = true

# Collect AppData for all users
collect_all_users_appdata = true

# Collect NTUser for all users
collect_all_users_ntuser = true
